In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [8]:
import random
score=[]
for i in range(200):
    score.append((random.randint(10,100)))
print(score)

[39, 92, 59, 28, 57, 82, 14, 76, 54, 77, 74, 14, 74, 39, 100, 37, 35, 11, 75, 31, 87, 44, 59, 57, 62, 20, 59, 81, 25, 84, 18, 55, 58, 15, 27, 77, 23, 72, 74, 74, 67, 50, 95, 99, 63, 79, 55, 38, 68, 73, 98, 93, 35, 91, 68, 17, 78, 11, 19, 97, 62, 23, 12, 54, 62, 68, 64, 18, 53, 81, 41, 39, 23, 27, 28, 27, 85, 55, 31, 83, 45, 15, 94, 37, 40, 21, 43, 93, 82, 86, 47, 41, 38, 50, 33, 84, 52, 35, 59, 18, 57, 62, 37, 67, 49, 12, 76, 48, 86, 72, 89, 40, 44, 82, 60, 43, 76, 36, 56, 12, 72, 56, 14, 40, 63, 76, 11, 67, 66, 55, 16, 30, 50, 80, 24, 89, 80, 52, 43, 62, 55, 58, 35, 19, 98, 96, 54, 40, 64, 53, 63, 34, 57, 35, 16, 98, 78, 98, 20, 75, 76, 79, 32, 36, 12, 22, 42, 32, 81, 90, 49, 61, 74, 64, 67, 98, 74, 42, 79, 49, 60, 53, 21, 79, 26, 21, 16, 64, 73, 74, 87, 47, 39, 31, 57, 61, 54, 17, 49, 12]

In [9]:
df=pd.DataFrame(score,columns=['score'])
print(df)

     score
0       39
1       92
2       59
3       28
4       57
..     ...
195     61
196     54
197     17
198     49
199     12

[200 rows x 1 columns]

In [12]:
mean=df.mean()
print(mean)

score    53.89
dtype: float64

In [13]:
sd=df.std()
print(sd)

score    24.708103
dtype: float64

In [15]:
lower_limit=mean-sd
upper_limit=mean+sd
print(lower_limit)
print(upper_limit)

score    29.181897
dtype: float64
score    78.598103
dtype: float64

In [20]:
# New dataframe after deleting outliers
df_new=df[(df>lower_limit)&(df<upper_limit)]
df_new.dropna(inplace=True)
df_new

     score
0     39.0
2     59.0
4     57.0
7     76.0
8     54.0
..     ...
193   31.0
194   57.0
195   61.0
196   54.0
198   49.0

[122 rows x 1 columns]